.job_grade_form_list {
  .o_td_label {
    display: none !important;
  }
  table {
    border: 1px solid rgba(106, 106, 106, 0.7);
    thead {
      height: 50px;
      line-height: 50px;
    }
  }
}
.job_grade_form_header {
  max-width: 750px;
  input {
    height: 28px !important;
  }
}
