.term_of_contract_form {
  max-width: 750px !important;
  td[class="o_td_label"] label {
    width: 200px !important;
  }
  input,
  select {
    height: 28px !important;
  }
  .odoo-editor-editable {
    border-left: solid 3px #f46a6a !important;
  }
}
