.contact input,
.information_family input,
.generalInformation select,
.generalInformation input {
  height: 28px !important;
}
.work_progress tbody tr .o_td_label,
.contract tbody tr .o_td_label,
// .insurance tbody tr .o_td_label,
.traningInformation tbody tr .o_td_label,
.workExperience tbody tr .o_td_label,
.familyInformation tbody tr .o_td_label {
  display: none !important;
}

.o_content .oe_avatar {
  display: none !important;
}
.work_experience tbody tr td input,
.information_family tbody tr td input {
  margin-bottom: 8px !important;
}
.work_progress tbody tr td input,
.work_experience tbody tr td input {
  height: 28px !important;
}
.contract
  .o_list_view
  .o_list_table
  tbody
  > tr
  > td:not(.o_list_record_selector).o_list_number {
  text-align: left;
}
.contract
  .o_list_view
  .o_list_table
  tbody
  > tr
  > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button):not(
    .o_state_selection_cell
  ) {
  height: 44px;
}
.contact .o_td_label,
.insurance .o_td_label,
.generalInformation .o_td_label,
.workInformation .o_td_label {
  min-width: 180px !important;
}
.o_form_view .o_group .o_td_label + td {
  padding: 0px 36px 0px 20px !important;
}
.personal_information,
.public {
  display: none !important;
}

.employee__group {
  display: flex;
  &-o {
    flex: 0.8;
    border-right: 1px solid #ccc;
    overflow: hidden;
  }
  &-t {
    flex: 0.2;
  }
}
div[name="contract_ids"] .o_field_x2many_list_row_add,
div[name="contract_job_ids_tree"] .o_field_x2many_list_row_add {
  display: none !important;
}

footer > button.btn.btn-secondary.o_form_button_cancel {
  background-color: #cf4137 !important;
  color: white !important;
  &:hover,
  &:active {
    border: solid 2px #cf4137 !important;
  }
}
div.o_boolean_toggle.custom-control.custom-checkbox
  > label.custom-control-label
  > i {
  top: 3px;
}

.generalInformation .o_dropdown_button {
  right: 4px !important;
}
div[name="contract_job"] .o_list_record_remove button {
  display: none !important;
}
div[name="contract_job_ids_tree"] .o_list_record_remove button {
  display: none !important;
}
.contract__view .o_td_label {
  min-width: 180px !important;
}

div[name="family_information_line_ids"],
div[name="work_experience_line_ids"] {
  td[name="relationship"],
  td[name="name_rel"],
  td[name="dependent_person_rel"],
  td[name="job_rel"],
  .o_data_cell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .o_phone_cell,
  td[name="relationship"] {
    max-width: 180px !important;
  }
  td[name="name_rel"],
  td[name="dependent_person_rel"] {
    max-width: 140px !important;
  }
  td[name="job_rel"] {
    max-width: 115px !important;
  }
  td[name="company_work"] {
    max-width: 130px !important;
  }
  td[name="position_work"] {
    max-width: 150px !important;
  }
  td[name="reference_work"],
  td[name="description_work"] {
    max-width: 170px !important;
  }
}

.contract__main {
  div[name="department_id"],
  div[name="work_location_employee"],
  div[name="job_id"],
  div[name="resource_calendar_id"] {
    input {
      border-left: solid 3px #f46a6a !important;
    }
  }
}

.generalInformation {
  div[name="gender_id"] {
    input {
      border-left: solid 3px #f46a6a !important;
    }
  }
  a[name="gender_id"] {
    cursor: default;
    pointer-events: none;
    span {
      color: #495057 !important;
    }
  }
}
div[name="employee_traning_line_ids"] {
  .table > :not(caption) > * > * {
    padding: 0 1rem !important;
  }
  .o_data_cell {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  td[name="traning_course"] {
    max-width: 245px !important;
  }
  td[name="grade"] {
    max-width: 108px !important;
  }
  td[name="upload"] {
    max-width: 205px !important;
  }

  td[name="referencer"] {
    max-width: 165px !important;
  }

  td[name="traning_content"] {
    max-width: 160px !important;
  }
}

.insurance_config {
  .o_td_label {
    display: none !important;
  }
}

//
.hr_employee_search_pannel {
  display: none;
}
.hr_employee_cus {
  td[name="sequence_hr_employee"] {
    text-align: center !important;
  }
}
