.type_of_contract_form {
  max-width: 750px;
  td[class="o_td_label"] label {
    width: 200px !important;
  }
  input,
  select {
    height: 28px !important;
  }
  select::placeholder,
  input::placeholder {
    font-size: 13px !important;
    color: #979797 !important;
  }
}
