.contract {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1;
  &__container {
    width: 100%;
  }
  &__head {
    display: flex;
    align-items: center;
    text-align: center;

    &-l {
      display: flex;
      flex-direction: column;
      h4 {
        font-size: 16px;
        font-weight: 600;
        text-decoration: underline;
      }
      p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }
    }
    &-r {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
      }
      p {
        margin: 0;
        text-align: center;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
  &__title {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 40px 0;
  }
  &__body {
    h2 {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .term__list {
    margin: 0;
    padding: 0;
  }
  .term__item {
    h3 {
      font-size: 16px;
      font-weight: 700;
    }
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    ul {
      li {
        list-style-type: lower-alpha;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.3;
        margin-bottom: 5px;
      }
    }
  }
}
