.union_member {
  &-header {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  &-info {
    display: flex;
    flex-direction: column;
    span[name="name"] {
      font-size: 25px;
      font-weight: 600;
    }
    a[name="trade_union_position"] {
      span {
        font-size: 20px;
        font-weight: 600;
        color: #495057 !important;
      }
      display: block;
      cursor: default;
      pointer-events: none;
      text-decoration: none;
    }
  }
  &-container {
    display: flex;
    .left {
      flex: 0.8;
    }
    .right {
      flex: 0.2;
      border-left: 1px solid #ccc;
      padding-left: 10px;
    }

    td[class="o_td_label"] {
      min-width: 170px !important;
    }

    a[name="gender_id"],
    a[name="contract_type_contract_id"],
    a[name="marital_id"],
    a[name="country_id"],
    a[name="ethnic_id"],
    a[name="high_school_level_id"],
    a[name="highest_specialize_id"],
    a[name="religion_id"],
    a[name="department_id"],
    a[name="job_id_contract"],
    a[name="work_location_employee"],
    a[name="trade_union_position"] {
      pointer-events: none;
      span {
        color: #495057 !important;
      }
    }
  }
}

.date_approval {
  color: #0abb1c !important;
  margin-bottom: 15px;
}

.union_approval_tree,
.union_member_tree {
  td[name="id"] {
    text-align: left !important;
  }
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info,
.o_form_view .oe_button_box .btn.oe_stat_button > span {
  width: 100%;
}
.union_organization_tree {
  td[name="id"],
  td[name="union_member_count"] {
    text-align: left !important;
  }
}
// .union_organization_tree span[name="status_unionOrganization"] {
//   background-color: transparent !important;
// }
.organization_top {
  display: flex;
  flex-direction: column;
  input[name="name_unionOrganization"],
  input[name="id_unionOrganization"] {
    max-width: 500px;
  }
}

@media (min-width: 1200px) {
  .o_form_view .oe_button_box > .btn.oe_stat_button,
  .o_form_view .oe_button_box > .o_dropdown_more {
    width: 13.5% !important;
  }
}
.union_kanban button {
  width: 120px !important;
}

.button__approval {
  background-color: #6a6a6a !important;
  color: #fff !important;
}

.modal_aprroval_name {
  font-size: 17px !important;
  font-weight: 600 !important;
}
.union_organization_kanban .o_kanban_record {
  width: 360px !important;
}
